*{
    margin:0;
    padding: 0;
}

body{
    font-family: Poppins;
}

header{
    background-color:#FFBE98 ;

}

h1 a {
    text-decoration: none;
    color:#561C24;
}

#maintitle { 
    text-align: center;   
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #FDF0D1;
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: #6D2932;
}

main { 
    margin: 30px;
}

table tr:nth-child(even){
    background-color: #FFBE98;
}

footer{
    background-color:#FFBE98 ;
    
}

